{% extends 'base.html.twig' %}

{% block title %}Artist{% endblock %}

{% block body %}
    <h3 style="margin-left: 5rem; margin-top: 2rem;">Tous les artistes du shop :</h3>
    <br>
    <a href="/admin/artist/create" style="margin-left: 10rem;">
        <button type="button" class="btn btn-outline-light">Ajouter un.e artiste</button>
    </a>

    {% set path = "uploads/artist/" %}
    
    {% for artist in list %}

        {% set img = artist.profilePicture %}
        {% set concatenedPath = path ~ img %}

        <div class="card text-white bg-dark mb-3" style="max-width: 100rem; margin-left: 10rem; margin-top: 2rem;">
            <div class="card-header"> {{ artist.name }} </div>
            <div class="card-body">
                <img src= {{ asset(concatenedPath)}}  alt="marche pas" width="10%" style="margin-bottom: 1rem;">
                <p class="card-text"> {{ artist.style}} <br> {{ artist.resume }} </p>
                <a href="{{ path('app_admin_tattoo_artist', {'id': artist.id})}}">
                    <button type="button" class="btn btn-outline-warning">Galerie</button>
                </a>
                <a href="{{ path('app_admin_artist_update', {'id': artist.id})}}">
                    <button type="button" class="btn btn-outline-info">Modifier</button>
                </a>
                <a href="{{ path('app_admin_artist_delete', {'id': artist.id})}}">
                    <button type="button" class="btn btn-outline-danger">Supprimer</button>
                </a>
            </div>
        </div>
    {% endfor %}

{% endblock %}
